body{
    background-color: mediumaquamarine;
}
#main-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    background-color: pink;
}
.profile-section{
    grid-column: 1 / 3;
    background-color: blueviolet;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.skills-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 15px;
    background-color: orange;
}
.project-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 15px;
    background-color: yellowgreen;
}
.contact-section{
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 15px;
    background-color: palevioletred;
}
.skills-container,.project-container,.contact-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.card{
    background-color: antiquewhite;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.card-highlight{
    background-color: palegoldenrod;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.profile-content,.skills-content,.project-content,.contact-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contact-section a{
    text-decoration: none;
}